{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapioss</title>
</head>
<body>
    <header>
        <div class="logo">
            <!-- Logo ou nome do site -->
        </div>
        <div class="welcome">
            <h1>Bem vindo ao Cardapioss</h1>
        </div>
    </header>
    <main>
        <h1>Bem vindo!</h1>
    </main>

    
    <footer>
        <p>Desenvolvido por: Mateus Toledo Benkenstein</p>
    </footer>
</body>
</html>